@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}


.sign-in-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(30, 33, 39, 0.5);
    width: 100vw;
    height: 100vh;
}

.sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3rem 3rem 4rem 3rem;
    min-width: 290px;
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 12px;
    overflow-y: auto;
}

.sign-in .close-btn {
    text-align: right;
}

.sign-in .close-btn img {
    cursor: pointer;
    font-size: 2.2rem;
    transition: opacity 0.2s;
}

.sign-in .close-btn img:active {
    opacity: 0.3;
}

.sign-in .welcome-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.sign-in .welcome-txt {
    font-size: 1.4rem;
    color: #a9aeb6;
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-in .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-in .sign-in-form label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
}

.sign-in .sign-in-form label input {
    border: 1px solid #a9aeb6;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}

.sign-in-form .sign-in-btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #fff;
    background-color: #3458e4;
    margin: 2rem 0;
}

.sign-in-form .sign-in-btn:active {
    background-color: #7c94f6;
}

@media all and (min-width: 1024px) {
    .sign-in {
        padding: 4rem 4rem 5rem 4rem;
    }

    .sign-in .close-btn img:hover {
        opacity: 0.3;
    }


    .sign-in .welcome-title {
        font-size: 2.8rem;
    }

    .sign-in .welcome-txt {
        font-size: 1.6rem;
    }

    .sign-in .sign-in-form label {
        font-size: 1.6rem;
    }

    .sign-in .sign-in-form label input {
        font-size: 1.6rem;
    }

    .sign-in-form .sign-in-btn:hover {
        background-color: #7c94f6;
    }
}